// Primary Colors
$primary-color: white;
$secondary-color: black;
$tertiary-color: #589FEB;
// $quaternery-color: #FFFFFF;


//black colors
$black-60:#525151;
$black-50: #444444;
$black-40:#8A8A8A;
$black-30: #464444;
$black-10:rgba(255, 255, 255, 0.24);


// blue colors

$blue-60:#054E9C;
$blue-50: #3396FF;




